<div class="patient-info-fixed-postion-container" id="patientContext">
    <div class="patient-info-fixed">
        <ul class="hidden-mobile">
            <li class="patient-name-image-container">
                <img class="patient-image" ng-src="{{::patientContext.image}}" fallback-src='../images/blank-user.gif'>
                <span class="patient-name" ng-if="showNameAndImage" >
                  {{patientContext.givenName}} {{patientContext.familyName}}
                </span>
                <span class="patient-name">
                    ({{patientContext.identifier}})
                </span>
                <span class="custom-attr-icon" ng-if="showIcon">
                    <i class="ipd-indication context-icon-style" ng-class="iconAttributeConfig.icon" ng-style="{{iconAttributeConfig.iconStyle}}"></i>
                </span>
            </li>
            <li>{{patientContext.gender}}</li>
            <li>{{patientContext.birthdate | birthDateToAgeText}}</li>
            <li ng-repeat="(key, value) in patientContext.personAttributes">
                {{::value.description |translate}}: {{value.value}}
            </li>
            <li ng-repeat="(key, value) in patientContext.additionalPatientIdentifiers">
                {{::key |translate}}: {{value}}
            </li>
            <li ng-repeat="(key, value) in patientContext.programAttributes">
                {{::value.description |translate}}: {{value.value}}
            </li>
            <li class="pc-statement-btn-wrap" ng-if="pcStatementUrl" style="margin-left:auto; padding-right:8px;">
                <a class="pc-statement-btn"
                   ng-href="{{pcStatementUrl}}"
                   target="_blank"
                   rel="noopener noreferrer"
                   title="{{'STATEMENT_BTN_TOOLTIP' | translate}}"
                   style="display:inline-flex; align-items:center; gap:6px; padding:5px 12px;
                          background:#1f6f8b; color:#fff; border-radius:4px; text-decoration:none;
                          font-size:13px; font-weight:500;">
                    <i class="fa fa-file-text-o"></i>
                    <span class="pc-statement-btn-label">{{'STATEMENT_BTN_LABEL' | translate}}</span>
                </a>
            </li>
        </ul>
        <div class="patient-info hidden-tablet-above">
            <button type="button" class="prev-page" history-back ng-if="!allowNavigation">
                <i class="fa fa-arrow-left"></i>
            </button>
            <button type="button" class="prev-page" ng-if="allowNavigation" ng-click="navigate()">
                <i class="fa fa-arrow-left"></i>
            </button>
            <span class="name">{{patientContext.givenName}} {{patientContext.familyName}}</span>
            <span class="gender-age">({{patientContext.birthdate | birthDateToYears}}, {{patientContext.gender.slice(0,1)}})</span>
        </div> 
    </div>
</div>